{{#each items}}
    <div class="Row" data-id={{id}}>
        <div class="Cell"><p>{{name}}</p></div>
        <div class="Cell"><p>{{amount}}</p></div>
        <div class="Cell"><p>{{price}}</p></div>
    </div>
{{/each}}

