{
  "extends": "./node_modules/eslint-config-coding-standard/config.eslintrc",
  "rules": {
    "global-strict": [2, "never"],
    "strict": 0,
    "no-unused-vars": 0
  },
  "env": {
    "browser": true,
    "node": false,
    "amd": true,
    "jasmine": true
  },
  "globals": {
    "modules": true,
    "app": true,
    "Handlebars": true,
    "templates": false
  }
}